<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Maximum number of mfaktx instances to have running at once; can be used to prevent accidents or bugs from freezing your screen by overloading your GPU -->
    <add key="MaxInstances" value="1" />
    <add key="MfaktXExeFileName" value="mfaktc.exe" />
    <!-- You can add mfaktx arguments, e.g. to specify the device or change verbosity, here -->
    <add key="MfaktXArguments" value="-v 0" />
    <add key="MfaktXIniFileName" value="mfaktc.ini" />
    <add key="MfaktXSlowIniFileName" value="mfaktc.slow.ini" />
    <add key="MfaktXMediumIniFileName" value="mfaktc.med.ini" />
    <add key="MfaktXFastIniFileName" value="mfaktc.fast.ini" />
    <add key="SendCtrlCode" value="SendCtrlCode.exe" />
    <!-- Time in milliseconds to wait for mfaktx to close before killing it -->
    <add key="Timeout" value="30000" />
    <!-- Specifies how many lines will be shown in the window before old ones drop off -->
    <add key="MaxLines" value="300" />
    <!-- if true, will automatically switch to Fast when the screensaver is enabled, and to Medium when it is disabled; true and false are valid values -->
    <add key="EnableIdleDetection" value="true" />
    <!-- time in milliseconds between checking if the screensaver is active -->
    <add key="IdleDetectionInterval" value="500" />
  </appSettings>
</configuration>