<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- these are parameters that MUST be set up for this to work correctly -->
    <!-- Maximum number of mfaktx instances to have running at once; can be used to prevent accidents or bugs from freezing your screen by overloading your GPU(s) -->
    <add key="MaxInstances" value="1" />
    <add key="MfaktXExeFileName" value="mfaktc.exe" />
    <!-- You can add mfaktx arguments, e.g. to specify the device or change verbosity, here -->
    <add key="MfaktXArguments" value="-v 0" />
    <add key="MfaktXIniFileName" value="mfaktc.ini" />
    <add key="MfaktXSlowIniFileName" value="mfaktc.slow.ini" />
    <add key="MfaktXMediumIniFileName" value="mfaktc.med.ini" />
    <add key="MfaktXFastIniFileName" value="mfaktc.fast.ini" />
    <add key="SendCtrlCode" value="SendCtrlCode.exe" />
    
    <!-- these are less-important parameters -->
    <!-- Optional value to show in UI so you can differentiate instances of MfaktX Controller -->
    <add key="InstanceIdentifier" value="" />
    <!-- Speed at which to start MfaktX when starting the controller, or Stop to not automatically start MfaktX.  Valid values are: Stop, Slow, Medium, Fast -->
    <add key="StartupSpeed" value="Fast" />
    <!-- Time in milliseconds to wait for mfaktx to close before killing it -->
    <add key="Timeout" value="30000" />
    <!-- Specifies how many lines will be shown in the window before old ones drop off -->
    <add key="MaxLines" value="300" />
    <!-- if true, will automatically switch to Fast when the screensaver is enabled, and to Medium when it is disabled; Valid values are: true, false -->
    <add key="EnableIdleDetection" value="true" />
    <!-- time in milliseconds between checking if the screensaver is active -->
    <add key="IdleDetectionInterval" value="500" />
    <!-- font to use in the output log -->
    <add key="OutputLogFontFamily" value="Consolas" />
    <!-- Comma-separated list of executable file names (e.g. "wow,sc2"). Will automatically Stop when they start and resume at the last-run speed when they close. -->
    <add key="PauseWhileRunning" value="" />
    <!-- Comma-separated list of executable file names (e.g. "photoshop,ftlgame"). Will automatically switch to Slow when they start and resume at the last-run speed when they close. -->
    <add key="SlowWhileRunning" value="" />
  </appSettings>
</configuration>